<section class="footer-info">
    <section class="footer_left">
        <h2 class="footer_nav">TigerZ</h2>
        <p class="footer_dis">老虎买房致力于以最新，最快，最权威的地产信息服务于全球各地域人民，为客户寻找最合适的房源信息。为大家量身打造一个丰富，快捷，全面的信息储备与交换平台，
            让大家及时把握全球房产动态，做到足不出户，便知天下。</p>
        <div class="connect">
            <p>Email&nbsp;:&nbsp;&nbsp;wjc@tigerz.nz</p>
            <p>QQ&nbsp;:&nbsp;&nbsp;3035240992</p>
        </div>
        <section class="footer_records">北京老虎买房科技有限公司  |  网络经营许可证 <a href="http://www.miitbeian.gov.cn/">沪ICP备16053465号</a> |  &copy;Copyright &copy; 2016-2020  老虎买房 tigerz.nz 版权所有</section>
    </section>
</section>