<section class="footer-info">
    <section class="footer_left">
        <h2 class="footer_nav">TigerZ</h2>
        <p class="footer_dis">TigerZ is dedicated to the latest, the fastest, most authoritative real estate information service people all around the world, looking for the best room source information for the customer.A rich, fast, comprehensive information storage and exchange platform for everyone,
            Let everyone grasp the property dynamics in time. Our purpose is "Don't go out, But know the world."</p>
        <div class="connect">
            <p>Email&nbsp;:&nbsp;&nbsp;wjc@tigerz.nz</p>
            <p>QQ&nbsp;:&nbsp;&nbsp;3035240992</p>
        </div>
        <section class="footer_records">北京老虎买房科技有限公司  |  网络经营许可证 <a href="http://www.miitbeian.gov.cn/">沪ICP备16053465号</a> |  &copy;Copyright &copy; 2016-2020  老虎买房 tigerz.nz 版权所有</section>
    </section>
</section>
