<ul style="overflow: hidden">
    <li><a href="/search?name=Auckland City&level=2&page=0&sort=default&isAllHouse=false&ct=Auckland" class="home_buyicon mapJump">Buy</a></li>
    <li><a href="/search?name=Auckland City&level=2&page=0&sort=default&isAllHouse=false&ct=Auckland" class="home_mapicon mapJump">Map</a></li>
    <li><a href="/house-price-estimate?city={{city}}" class="home_estimateicon">Estimate</a></li>
    <li><a href="/auction-results?city={{city}}" class="home_auction">Auction</a></li>
</ul>