<ul style="overflow: hidden">
    <li><a href="/search_cn?name=Auckland City&level=2&page=0&sort=default&isAllHouse=false" class="home_buyicon mapJump" style="font-weight: bold;letter-spacing: 5px;">买房</a></li>
    <li><a href="/search_cn?name=Auckland City&level=2&page=0&sort=default&isAllHouse=false" class="home_mapicon mapJump" style="font-weight: bold;letter-spacing: 5px;">地图</a></li>
    <li><a href="/house-price-estimate_cn?city={{city}}" class="home_estimateicon" style="font-weight: bold;letter-spacing: 5px;">估价</a></li>
    <li><a href="/auction-results_cn?city={{city}}" class="home_auction" style="font-weight: bold;letter-spacing: 5px;">拍卖</a></li>
</ul>