<div class="estimate_content">
    <h2>我的房子价值多少?</h2>
    <p>家庭在线评估为您的到最精确的估算值.</p>
    <dl>
        <dt>如何估算您的房屋价值</dt>
        <dd>TigerZ基于您所在地区周边房屋近期销售情况对您的房屋进行价值估算.</dd>
    </dl>
    <dl>
        <dt>最准确的在线估算平台</dt>
        <dd>根据对住宅市场的独立研究表明,TigerZ估价的精确值在房屋估值领域拥有领先的位置.我们提供最精准的估价以便于您房屋的出售—超过其他在线房产评估系统的两倍以上的精准率(误差在3%以内).</dd>
    </dl>
    <dl>
        <dt>我们如何做到</dt>
        <dd>TigerZ 拥有完整的可直接访问的MLSs房地产数据库.我们通过MLSs的房产销售数据来对您的的房产进行近期的市场价值估算.</dd>
    </dl>
    <dl>
        <dt>跟踪您房产的市场价值</dt>
        <dd>注册属于您的房产评估报告以便于获取每月最新的有关您房产的市场价值和您周边的房产销售情况.</dd>
    </dl>
    <dl>
        <dt>咨询专家意见</dt>
        <dd>当您决定好进行专业的房屋价值评估时，可以联系您所在区域内的TZ代理商进行免费咨询，TZ代理商可以亲自对您的房屋进行测评，并根据其独特的特点进行定价建议.</dd>
    </dl>
</div>