<section class="home_step">
    <h4>5 Steps To Easily Get Home</h4>
    <div class="ht_line"></div>
    <div class="ht_wrap">
        <div class="ht_item">
            <p class="step step1"></p>
            <p>1· Find Home</p>
        </div>
        <div class="ht_item">
            <p class="step step2"></p>
            <p>2· Financial plan</p>
        </div>
        <div class="ht_item">
            <p class="step step4"></p>
            <p>3· Showings home</p>
        </div>
        <div class="ht_item">
            <p class="step step3"></p>
            <p>4· Bid to buy house</p>
        </div>
        <div class="ht_item">
            <p class="step step5"></p>
            <p>5· Transfer </p>
        </div>
    </div>
</section>