<div class="estimate_content">
    <h2>How Much Is My House Worth?</h2>
    <p>Get the most accurate online home-value estimate.</p>
    <dl>
        <dt>How we calculate your home estimate</dt>
        <dd>The TigerZ Estimate determines your home's estimated value based on recent home sales in your area.</dd>
    </dl>
    <dl>
        <dt>The most accurate online estimate</dt>
        <dd>According to an independent study of on-market homes, the TigerZ Estimate is the most accurate among leading automated home-value tools. We provide the most accurate value of a home for sale—more than twice as likely to be within 3% of the home's selling price as other top online home-value estimators.</dd>
    </dl>
    <dl>
        <dt>How we do it</dt>
        <dd>TigerZ has complete and direct access to multiple listing services (MLSs), the databases that real estate agents use to list properties. We use MLS data on recently sold homes to calculate your property's current market value.</dd>
    </dl>
    <dl>
        <dt>Track your market value</dt>
        <dd>Sign up for your Redfin Home Report to get monthly updates on your home's value and the latest information about sales in your neighborhood.</dd>
    </dl>
    <dl>
        <dt>Get expert advice</dt>
        <dd>When you're ready for a professional home-value assessment, a TigerZ real estate agent can evaluate your home in person and give you pricing recommendations based on its unique characteristics. Talk to a TigerZ Agent who specializes in your area for a free consultation.</dd>
    </dl>
</div>