<div class="profile_wrap">
    <h3>编辑个人资料</h3>
    <div class="profile_item">
        <dl>
            <dt>修改昵称</dt>
            <dd class="user_nickname">
                <input type="text" placeholder="请输入您的昵称" ng-model="allValue.nickname">
            </dd>
        </dl>
        <dl>
            <dt>性别</dt>
            <dd class="user_gender">
                <p class="gender_wrap"><span class="gender_show">保密</span><a href="javascript:void(0)" class="select_wrap"><i class="gender_tri"></i></a></p>
                <ul class="gender_choice">
                    <li>保密</li>
                    <li>男</li>
                    <li>女</li>
                </ul>
            </dd>
        </dl>
    </div>
    <p class="profile_save">保存</p>
</div>