body {
  background: #ffffff;
}
.terms {
  color: #000000;
  line-height: 0.4rem;
}
h2 {
  text-align: center;
  font-size: 0.28rem;
  line-height: 0.5rem;
}
strong {
  font-size: 0.26rem;
}
p {
  font-size: 0.25rem;
}
