<div class="watchlist_wrap">
    <h3>My Watchlists</h3>

    <ul class="watch_list">
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr" title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>

        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
        <li>
            <span class="watch_clear">Cancel Watch</span>
            <a href="" target="_blank" class="list_img">
                <div class="user_img_wrap">
                    <img ng-src="http://img.tigerz.nz/sellinghouse/582da3ab4860e4279462453d/22bfce8acefa12674b694fa13bfd214c.jpg" alt="houseImage">
                </div>
                <div class="list_dis">
                    <p class="list_title">A Very Bright Future</p>
                    <p class="list_price">$795,000</p>
                    <p class="list_addr"title="">
                        Lots 2-6 Fenchurch Street,Glen Innes
                    </p>
                    <p class="list_info">
                        <span class="list_bed"></span>
                        <span>3</span>
                        <span class="list_bath"></span>
                        <span>2</span>
                        <span class="list_num"><i>Updata Date:</i><i>2016/8/27</i></span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>