<div class="profile_wrap">
    <h3>Edit Profile</h3>
    <div class="profile_item">
        <dl>
            <dt>Modify Nickname</dt>
            <dd class="user_nickname">
                <input type="text" placeholder="Your new name" ng-model="allValue.nickname">
            </dd>
        </dl>
        <dl>
            <dt>Gender</dt>
            <dd class="user_gender">
                <p class="gender_wrap"><span class="gender_show">Secret</span><a href="javascript:void(0)" class="select_wrap"><i class="gender_tri"></i></a></p>
                <ul class="gender_choice">
                    <li>Secret</li>
                    <li>Male</li>
                    <li>Female</li>
                </ul>
            </dd>
        </dl>
    </div>
    <p class="profile_save">save</p>
</div>